<div *ngIf="!showOtp" class="language-{{currentLang}}">
  <div class="back-div clickable language-{{currentLang}}" (click)="back()" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="row" fxLayoutAlign="center center" class="back-arrow rotate-icon-{{currentLang}}">
      <mat-icon svgIcon="back"></mat-icon>
    </div>
    <span class="back-name">{{'COMMON.BACK' | translate}}</span>
  </div>
  <div class="authentication-title">{{'AUTHENTICATION.FORGET_PASSWORD_TITLE' | translate}}</div>
  <div class="authentication-form">
    <form *ngIf="form" [formGroup]="form" fxLayout="column" fxFlexFill>
      <div>
        <app-text id="email" label="{{'AUTHENTICATION.FORGET_PASSWORD_EMAIL_FIELD' | translate }}"
                  [group]="form" name="email" required="true" [currentLang]="currentLang"
                  appearance="outline" (keyUpEvent)="removeErrorMessage()"
                  [patternErrorMessage]="emailPatternErrorMessage"></app-text>
      </div>
      <mat-error class="auth-error" *ngIf="errorMessage">{{errorMessage}}</mat-error>
      <div>
        <button [disabled]="!form.valid" mat-raised-button color="primary" (click)="onSubmit()"
                class="authentication-button">
          {{'AUTHENTICATION.FORGET_PASSWORD_BUTTON' | translate}}
        </button>
      </div>
    </form>
  </div>
</div>

<ng-container *ngIf="showOtp">
  <div>
    <div class="back-div clickable language-{{currentLang}}" (click)="back()" fxLayout="row" fxLayoutAlign="start center">
      <div fxLayout="row" fxLayoutAlign="center center" class="back-arrow rotate-icon-{{currentLang}}">
        <mat-icon svgIcon="back"></mat-icon>
      </div>
      <span class="back-name">{{'COMMON.BACK' | translate}}</span>
    </div>
    <div class="authentication-title language-{{currentLang}}" style="margin-bottom: 20px">{{'AUTHENTICATION.SIGN_UP_TITLE_OTP' | translate}}</div>
    <div class="authentication-form">
      <form *ngIf="formOTP" [formGroup]="formOTP" (ngSubmit)="onSubmitOTP()" fxLayout="column"
            fxFlexFill>
        <div fxLayout="row" fxLayoutGap="10px" class="parent-otp"
             fxLayoutAlign="center">
          <div *ngFor="let number of [1,2,3,4]" class="otp-input">
            <mat-form-field [formGroup]="formOTP">
              <input matInput id="otp{{number}}" name="otp{{number}}" pattern="[0-9]*" inputmode="numeric"
                     [formControl]="formOTP.controls['otp'+number]"
                     maxlength="1"
                     type="text"
                     (keypress)="checkNumber($event, number)"
                     (keyup)="switchOtpField($event, number)"/>
            </mat-form-field>
          </div>
        </div>
        <div fxLayoutAlign="center" *ngIf="errorMessage">
          <mat-error class="auth-error otp-error">{{errorMessage}}</mat-error>
        </div>
      </form>
    </div>
    <div class="authentication-subtitle">{{'AUTHENTICATION.SIGN_UP_SUBTITLE_OTP' | translate}}</div>
    <div *ngIf="formOTP" class="resend-buttons">
      <button [disabled]="otpDisabled" mat-raised-button color="primary"
              (click)="resendOtp()"
              class="authentication-button">
        {{'AUTHENTICATION.FORGET_PASSWORD_OTP_BUTTON' | translate}}
      </button>
    </div>
  </div>
</ng-container>
