<div class="show language-{{currentLang}}" fxLayout="column" fxLayoutAlign="center ">
  <div class="show-image"
       [style.background-image]="'url(' + image + ')'"></div>
  <h2 class="show-title">{{title}}</h2>
  <div class="show-label" *ngIf="label"> {{label}}</div>
  <!--<div class="show-date">{{playDate | date}}</div>-->
  <div *ngIf="showBookButton">
    <button [ngClass]="isHover?'show-book-button-hover':'show-book-button'" (click)="bookShow()"
            mat-raised-button color="primary" (mouseout)="changeHover(false)" (mouseover)="changeHover(true)"
    >{{ 'DASHBOARD.BOOK' | translate }}
    </button>
  </div>
</div>
