<div class="dialog-content-container authentication-form language-{{data.language}}">
  <div fxLayout="row" fxLayoutAlign="space-between start">
    <div class="page-title">{{'AUTHENTICATION.RESET_PASSWORD_TITLE'|translate}}</div>
    <div class="close-image clickable" (click)="closeDialog()">
      <mat-icon svgIcon="close-icon"></mat-icon>
    </div>
  </div>
  <div *ngIf="showForm" class="subtitle-form">{{'AUTHENTICATION.CHANGE_PASSWORD_SENTENCE'|translate}}</div>
  <!--<div *ngIf="!showForm && !showSuccess" class="subtitle-form">{{'AUTHENTICATION.RESET_PASSWORD_RECOVER'|translate}}</div>-->
  <div *ngIf="!showForm && showSuccess" class="subtitle-form success-sentence">{{'AUTHENTICATION.PASSWORD_CHANGED'|translate}}</div>
  <form *ngIf="showForm" [formGroup]="form" (ngSubmit)="onChangePassword()" fxLayout="column"
        fxFlexFill>
    <div class="app-input-container password-div">
      <app-password label="{{'AUTHENTICATION.OLD_PASSWORD'|translate}}"
                    [group]="form" name="old_password" required="true"
                    appearance="outline" (keyUpEvent)="removeErrorMessage()"></app-password>
      <!--<div class="change-password-div clickable" (click)="resetPassword()">-->
        <!--{{('AUTHENTICATION.FORGOT_PASSWORD' | translate)}}-->
      <!--</div>-->
    </div>
    <div class="app-input-container">
      <app-password label="{{'AUTHENTICATION.NEW_PASSWORD'|translate}}"
                    [group]="form" name="password" required="true"
                    appearance="outline" (keyUpEvent)="removeErrorMessage()"></app-password>
    </div>
    <div class="app-input-container">
      <app-password label="{{'AUTHENTICATION.CONFIRM_PASSWORD'|translate}}"
                    [group]="form" name="confirm_password" required="true"
                    appearance="outline" (keyUpEvent)="removeErrorMessage()"
      ></app-password>
    </div>
    <mat-error class="auth-error" *ngIf="showErrorMessage">{{errorMessage}}</mat-error>
    <div>
      <button mat-raised-button color="primary" class="button change-password-button"
              [disabled]="!form.valid">{{'COMMON.SAVE'|translate}}
      </button>
    </div>
  </form>
</div>
