@import "../../../../assets/style/variables";

.checkbox-parent {
  margin-bottom: 30px;
}

::ng-deep .mat-checkbox-inner-container {
  width: 20px !important;
  height: 20px !important;
}

.input-title {
  font-size: 14px;
  font-family: get-font(primary-semibold) !important;
  color: get-color(secondary);
}

.input-label {
  font-size: 12px;
  color: #808fa1;
  margin-right: 15px;
  margin-left: 15px;
  font-family: get-font(primary-semibold) !important;
}
