<div>
  <span *ngIf="title" class="input-title">{{title}}</span>
  <mat-form-field class="language-{{currentLang}}" [formGroup]="group"
                  [appearance]="appearance? appearance:'standard'">
    <mat-icon *ngIf="icon || svgIcon" matPrefix
              [svgIcon]="svgIcon">{{icon}}
    </mat-icon>
    <input matInput [name]="name"
           [formControl]="group.controls[name]" [placeholder]="label" [disabled]="disabled" [readonly]="disabled"
           [required]="required" type="password" (keyup)="triggerKeyUp($event);getPasswordStrength()"/>
    <mat-error *ngIf="group.get(name).hasError('required')">{{('FORMS.REQUIRED' | translate)}}</mat-error>
    <mat-error
      *ngIf="group.get(name).hasError('pattern')">{{patternErrorMessage ? patternErrorMessage : ('FORMS.INVALID_PATTERN' | translate)}}
    </mat-error>
    <mat-error
      *ngIf="!group.get(name).hasError('pattern') && group.get(name).hasError('minlength')">
      {{('FORMS.PASSWORD_LENGTH1' | translate)}}
      {{group.get(name).errors['minlength']['requiredLength']}} {{('FORMS.PASSWORD_LENGTH2' | translate)}}
    </mat-error>
    <mat-error
      *ngIf="!group.get(name).hasError('pattern') && group.get(name).hasError('passwordsMismatch')">
      {{ 'AUTHENTICATION.PASSWORDS_DONT_MATCH' | translate}}
    </mat-error>
  </mat-form-field>
  <div *ngIf="meter && percentage!=0" class="password-hint-wrapper">
    <div class="{{password_class}} password-hint">{{password_title}}</div>
    <div class="{{password_class}}">
      <mat-progress-bar *ngIf="percentage!=0" mode="determinate" value="{{percentage}}"></mat-progress-bar>
    </div>
  </div>
</div>
