@import "../../../../assets/style/variables";

.input-title {
  font-size: 14px;
  font-family: get-font(primary-semibold) !important;
  color: get-color(secondary);
}

.password-hint-wrapper {
  margin-bottom: 30px;
}

.password-hint {
  top: 8px;
  font-size: 12px;
  text-align: right;
  height: 0;
  margin-top: 5px;
  position: relative;
  font-weight: 500;
  font-family: get-font(primary-semibold) !important;
}

.weak.password-hint {
  color: get-color('declined-status');
}

.medium.password-hint {
  color: get-color('pending-status');
}

.strong.password-hint {
  color: get-color('completed-status');
}
