@import "../../../../assets/style/variables";

::ng-deep app-text-area .mat-form-field-appearance-outline .mat-form-field-infix {
  padding-top: 0;
  padding-bottom: 13px;
}
::ng-deep app-text-area .mat-form-field-wrapper .mat-form-field-subscript-wrapper {
  padding-left: 15px !important;
  margin-top: 5px;
}

::ng-deep mat-hint{
  margin-left: -5px;
  margin-top: 3px;
}
.input-title{
  font-size: 14px;
  font-family: get-font(primary-semibold) !important;
  color: get-color(secondary);
}
