@import "../../../assets/style/variables";

::ng-deep .receipt-popup-dialog {
  mat-dialog-container {
    padding: 40px;
    min-width: 500px;
    max-height: 610px;
    max-width: 860px;
  }
}

.dialog-content-container {
  text-align: center;
}

.theater-name {
  color: get-color('bill-value');
  font-size: 25px;
  font-family: get-font(primary-bold) !important;
  font-weight: bold;
  margin-bottom: 5px;
  border-bottom: solid 2px #e7e7e7;
}

.receipt-button {
  width: 40%;
  border-radius: 3px !important;
  height: 45px;
}

.info-parent {
  margin: 20px 0;
  font-size: 18px;
}

.info-title {
  font-family: get-font(primary-bold) !important;
  font-weight: bold;
}

.padding-info {
  padding: 0 80px;
}

.order-parent {
  margin: 20px 0;

  .order-title {
    font-family: get-font(primary-bold) !important;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    border-bottom: solid 2px #e7e7e7;
  }

  .bill-info {
    color: get-color('bill-info');
    font-family: get-font(primary-bold) !important;
    font-weight: bold;
    font-size: 14px;
  }
  .bill-value {
    color: get-color('bill-value');
    font-size: 16px;
  }
}

.buttons-div {
  margin-top: 50px;
}

@media only screen and (max-width: 960px) {
  .padding-info {
    padding: 0 40px;
  }
}

@media only screen and (max-height: 400px) {

  ::ng-deep .receipt-popup-dialog {
    mat-dialog-container {
      max-height: 300px !important;
    }
  }
}

@media only screen and (max-width: 600px) {

  ::ng-deep .receipt-popup-dialog {
    mat-dialog-container {
      padding: 20px;
      min-width: auto;
      max-height: 600px !important;
    }
  }
  .order-title {
    font-size: 16px;
  }
  .info-parent {
    font-size: 16px;
  }
  .bill-info {
    font-size: 12px;
  }
  .bill-value {
    font-size: 14px;
  }
  .receipt-button {
    width: 80%;
  }
  .padding-info {
    padding: 0 5px;
  }
  .padding-left-right{
    padding: 0 10px !important;
  }
  .select-checkboxes{
    padding: 13px 10px !important;
  }
  .bill-info {
    font-size: 12px !important;
  }
  .bill-value{
    font-size: 12px !important;
  }
  .buttons-div {
    margin-top: 25px;
  }
}

.separator-checkbox {
  background-color: #efefef;
}

.select-checkboxes {
  background-color: #ff80ab;
  padding: 13px 20px;
  //border-radius: 4px;
  margin-bottom: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.selected-count {
  color: #753b4e;
  font-size: 14px;
  font-family: get-font(primary-bold) !important;
  font-weight: bold;
}

.empty-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 25px;
  border: solid 2px rgba(0, 0, 0, 0.54);
}

.padding-left-right {
  padding: 0 20px;
}

.checkbox-item {
  width: 16px;
  height: 16px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.checkbox-item-all {
  background-image: url("../../../assets/icons/check.svg");
}

.checkbox-item-not-all {
  background-image: url("../../../assets/icons/checkbox-red.svg");
}

@media only screen and (max-width: 1024px) {
  ::ng-deep .receipt-popup-dialog {
    mat-dialog-container {
      max-height: 800px;
    }
  }
}
